.footer {
    background-color: aquamarine;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.social-links {
    display: flex;
    justify-content: center;
}
.fa {
    padding: 0.5em;
    margin-left: 5px;
}
.back-to-top {
    color: rgb(40, 6, 94);
    display: flex;
    justify-content: center;
}